body {
  padding-bottom: 30px;
  width: 100vw;
  height: 100vh;
}

html {
  width: 100vw;
  height: 100vh;
}

.horrid-background {
  background-color: darkblue;
}

.horrid-border {
  border: 3px dotted yellow;
}

.yellow {
  color: yellow;
}

.title {
  font-size: 50px;
}

.text-container {
  display: flex;
  align-self: center;
}

.vertical {
  flex-direction: column;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.link {
  color: lightblue;
}

.comparison-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.image {
  border: 2px solid gold;
  height: 180px;
  aspect-ratio: 1;
}

.list {
  padding: 10px;
  display: flex;
  background-color: red;
  flex-direction: column;
  color: greenyellow;
}

card {
  display: flex;
  flex-direction: column;
  border: 1px solid gold;
  border-radius: 100%;
  padding: 50px;
  gap: 10px;
  height: fit-content;
}

.project-title {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}

.cards {
  display: grid;
  cursor: pointer;
  gap: 20px;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 200px 200px;

  margin: 10px;
}

.center-align {
  text-align: center;
}

.spaced {
  gap: 5px;
}
